

/* Hero section */

.hero-section .left p.document-type
{
    font-size: 1.5rem;
    color: rgb(177, 177, 177);
}
.hero-section .search-documents-container input.search-input
{
  outline: none;
  border: none;
}
.hero-section .search-documents-container :is(input.search-input, button.search-btn)
{
  background-color: rgb(231, 231, 231);
}
.hero-section .search-documents-container input.search-input
{
  box-shadow: none;
}
.hero-section .search-documents-container button.search-btn i
{
  font-size: 1rem;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 8px;
}

/* Documents section */

.documents-showcase-section ul.documents
{
    margin-top: 4rem !important;
}
.documents-showcase-section ul.documents li.document
{
    transition: all .5s ease;
}
.documents-showcase-section ul.documents li.document:hover
{
    transform: translateY(-3%);
    box-shadow: 0 5px 8px rgba(0, 0, 0, .1);
}
.documents-showcase-section ul.documents li.document .cover
{
    width: 170px;
    height: 230px;
}
.documents-showcase-section ul.documents li.document .cover > img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.documents-showcase-section ul.documents li.document p.title
{
    font-size: 1.1rem;
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.documents-showcase-section ul.documents li.document p.author
{
    font-size: .9rem;
    color: grey;
}

/* Footer */
footer.footer
{
  background-color: lightgray;
}