
/*
    Some classes are prefixed with 'custom' in order to distinguish 
    them from boostrtap classes
*/

 table.docs .doc-title
{
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}